html,
body {
	background: #fafafa;
	color: #444;
	font-family: 'Helvetica Neue', arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

* {
	box-sizing: border-box;
}

#app {
	background-color: #673ab8;
	color: #fff;
	font-size: 1.5em;
	height: 100%;
	padding-top: 100px;
	text-align: center;
}

.link {
	color: #fff;
}
